# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- SQL
- R
- Julia
- Java

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib
- Seaborn
- Tensorflow

| Data Science Tools |
| --- |
| Jupyter |
| Jupyter Lab |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

**Objectives:** \
List popular languages for Data Science\
List commonly used libraries used by Data Scientists\
Table development environment open source tools used in data science\
examples of evaluating arithmetic expressions in Python

## Author
Muhammad Tamam Setia